*{
 padding: 0;
 margin: 0;

}

body {
  background-image: url(./img/fundoprincipal.jpg);
  background-repeat: no-repeat ;
  background-size: cover;

  background-position: center;
  z-index: -1;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  
  header {
  background-image: url(./img/fundoprincipal.jpg);
  background-repeat: no-repeat ;
  background-position: center;
  background-size: cover;
    color: #fff;
    padding: 10px;
  }
  #main-heading {
    
    color: #fff;
    font-size: 36px;
    margin: 0;
    text-align: center;
  }

  h1 {
    margin: 0;
   
  }

  .titlee{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 26px;
    margin-top: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  
  nav {
    
    display: flex;
    justify-content: center;
    padding: 2px;
    margin-top: 20px;
    
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 1px 75px
   
  }
  
  nav a {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
   
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  
  nav a:hover {
    color: #f5a623;
  }
  
  main {
    padding: 20px;
  }

  section {
    margin-bottom: 40px;
  }
  .btn-saiba-mais {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .btn-saiba-mais:hover {
    background-color: #555;
  }
  
  .info-saiba-mais {
    display: none;
    background-color: #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .info-saiba-mais p {
    margin: 0;
  }





  h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
  }
  
  /* Estilos para a seção "Git" */
  #git {
    background-color: #f5f5f5;
    padding: 40px;
  }
  
  #git h2 {
    color: #333;
  }
  
  #git p {
    color: #666;
  }
  
  /* Estilos para a seção "Gitflow" */
  #gitflow {
    background-color: #f0f0f0;
    padding: 40px;
  }
  
  #gitflow h2 {
    color: #333;
  }
  
  #gitflow p {
    color: #666;
  }
  
  /* Estilos para a seção "Docker" */
  #docker {
    background-color: #e5e5e5;
    padding: 40px;
  }
  
  #docker h2 {
    color: #333;
  }
  
  #docker p {
    color: #666;
  }
  
  /* Estilos para a seção "CI/CD" */
  #cicd {
    background-color: #e0e0e0;
    padding: 40px;
  }
  
  #cicd h2 {
    color: #333;
  }
  
  #cicd p {
    color: #666;
  }
  
  /* Estilos para a seção "Computação em Nuvem" */
  #computacao-nuvem {
    background-color: #d5d5d5;
    padding: 40px;
  }
  
  #computacao-nuvem h2 {
    color: #333;
  }
  
  #computacao-nuvem p {
    color: #666;
  }
  


  p {
    font-size: 18px;
    line-height: 1.5;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  }

  footer p {
    margin: 0;
  }
  


  @media screen and (max-width: 768px) {
    /* Reduz a fonte dos títulos */
    h2 {
      font-size: 24px;
    }
  
    /* Reduz a fonte dos parágrafos */
    p {
      font-size: 16px;
    }
  
    /* Alinha a navbar à esquerda e oculta o texto dos itens */
    nav {
      justify-content: flex-start;
    }
  
    nav ul {
      display: none;
    }
    
    nav button {
      display: block;
    }
  
    
  }